.signup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 10vw;
    background: #C4BDCD;


}

.flex-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 2px solid red;
}

.error{
    border: 20px solid red;
    padding: 20px;
}
.display-below{
    position: relative;
    margin-top: 20%;
}

.number{
    display: flex;
    width: 100%;
    .phone{
        width: 100%;
        margin-right: 3vw;
    }
    .mobile{
        width: 100%;
    }
}
.signup-col1{
    flex-basis: 60%;
    width: 100%;
   
}
.signup-col2{
    flex-basis: 40%;
    position: fixed;
   right: 100px;
   top: 15%;
   width: 500px;
   height: 500px;
   
    
}
.signup-col2 img{
    width: 100%;
    height: 100%;
}
.signup-form{
    background: #FFFFFF;
box-shadow: 28px 0px 50.4863px rgba(0, 0, 0, 0.17);
border-radius: 32px;
padding: 5vh 5vw;
}


















.signup-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    h1{
        color: #4B006E;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.75rem;
        margin: 0;
        padding: 0;
    }
    p{
        display: flex;
        font-family: 'Poppins',sans-serif;
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: 400;
    }
    .cmp{
        color:  #B199CF;
        font-weight: bold;
    }
}
