.service{
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 5vw;
    color: white;
}
.ser-head{
    height: 77.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;

    h1{
        font-size: 6rem;
        padding: 0;
        margin: 0;
        // margin-top: 19vh;
    }
    p{
        padding: 2vh 20vw;
        margin: 0;
        font-size: .9rem;

    }

}
.ser-text{
    flex: 4;
    margin-right: 5vw;
    padding: 2vh 5vw;
    text-align: center;
    color: #FFF6F6;
    h1{
        font-size: 1.9rem;
        padding: 3vh 0;
        margin: 0;
    }
    p{
        padding: 0;
        margin: 0;
        font-size: .9rem;
    }
    &:hover{
        color: white;
    }
}
.ser-img{
    flex: 1;
    img{
       height: 27vh;
    width: 22vw;
    border-radius: 110px;
    }
}
.book-btn{
    padding: 1vh 1vw;
    margin-top: 5vh;
    border-radius: 20px;
    background: #4b006e;
    border: 0;
    color: white;
    box-shadow: 0px 0px 10px white;
    &:hover{
        box-shadow: 0px 0px 50px white,0px 0px 10px #4b006e;
    }
}