*{
    padding: 0;
    margin: 0;
    transition: all .5s;
}
.productOrder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: fixed;
    padding-top: 7vh;
}
.col1{
    flex: 1.3 ;
    width: 50%;
    overflow: hidden;
}
.img{
    overflow: hidden;
    img{
        height: 350px ;
        width: auto;
    }
}
.row1{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 0 10vw;
    .dash{
        background: #4B006E;
        height: 2px;
        width: 15px;
        border: 1px;
        margin-top:-5px ;
        
    }
    h4{
        font-size: 1rem;
        color: #4B006E;
    }
}
.row2{
    padding: 0 10vw;
    color: #4B006E;
    h1{
        font-size: 2rem;
    }
}
.row3{
    padding: 0 11vw;
    color: #6F6C90;
    p{
        padding: 1rem 0;
        margin: 0;
        font-size: .8rem;
    }
}
.col2,.col3{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 1vh 3vw;
    padding-right: 6vw;
    
}
.orderContainer{
    border-radius: 34px;
    width: 100%;
    height: 100%;
    background: var(--neutral-100, #FFF);
    box-shadow: 0px 98px 66px 0px rgba(19, 18, 66, 0.02), 1px 4px 104px 0px rgba(20, 20, 43, 0.04), 0px 54px 54px 0px rgba(74, 58, 255, 0.02);
    overflow: scroll;
    padding: 5vh 1.5vw;
    padding-bottom: 1vh;
    // position: relative;

}
.col2-row1{
    display: flex;
    // width: 100%;
    // align-items: center;
    justify-content: space-between;
}
.inputHead{
    padding: 0;
    margin: 0;
    h3{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        padding-top: 1.5vh;
    }
}
.inputhead-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: row;
    padding-top: 0vh;
}
.btn-yesno{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    p{
        padding: 0;
        margin: 0;
        color: #6F6C90;
        font-size: .8rem;
    }
}
.row-order-btn{
    padding-top: 4vh;
    float: right;

    .order-btn{
        background: #4B006E;
        border-radius: 20px;
        padding: 1vh 2vw;
        color: white;
        font-size: 1.1rem;
        border: 1px solid #4B006E;
    }
    .order-btn:hover{
        color: #4B006E;
        background-color: #FFF;
    }
    
}


.back-btn{
    border: none;
    text-shadow: 1px 1px grey;
    background: none;
}

.service-block{
    padding: 0 2vw;
    color: #525252;
    .service-price{
        display: flex;
        align-items: center;
        padding-top: 1vh;
        p{
            padding: 0 1vw;
            margin: 0;
        }
    }
    h2{
        font-size: 1.4rem; 
        padding: 0; 
        margin: 0;
    }
    h3{
        font-size: 1rem;
        color: #848484;
        padding: 0;
        margin: 0;
        p{
            padding: 0;
            margin: 0;
        }
    }

}

.summary{
    // position: absolute;
    // z-index: 999;
    // bottom: 5vh;
    // right: 4vw;
    float: right;
    margin-top: 7vh;
    margin-right: 2vw;
    // margin-bottom: 5vh;

}
.summary-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
        font-size: 1rem;
        padding-right: 1vw;
        color: #525252;
    }
    h5{
        color: #6F6C90;
        font-size: 1.2rem;
    }

}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #4B006E;
    padding: 2vh 0 ;
    padding-bottom: 0;
    margin-top: 1vh;
    h2{
        font-size: 1.5rem;
        color: #525252;
    }
}
.confirm-back-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // bottom: 1px;
    // left: 30%;
    padding-top: 3vh;
    // position: sticky;
    .confirm-btn{
        border: 1px solid #4B006E;
        background: #4B006E;
        color: #FFF;
       
        padding: 1vh 1vw;
        margin: 0 1vw;
        border-radius: 20px;
        &:hover{
            color: #4B006E;
            background: white;
        }
    }
}


.msg-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    padding: 5vh 5vw;
    h1{
        padding: 0;
        margin: 0;
        font-size: 1.7rem;
    }
}
.msg-row1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        padding: 0;
        margin: 0;
        padding-bottom: 5vh;
        padding-top: 3px;
        font-size: .9rem;
        color: #848484;
    }
}
.ok-btn{
    padding: 0 5vw;
}