*{
    padding: 0;
    margin: 0;
    transition: all .5s;
}
.productOrder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: fixed;
    padding-top: 7vh;
}
.col1{
    flex: 1.3 ;
    width: 50%;
    overflow: hidden;
}
.img{
    overflow: hidden;
    img{
        height: 350px ;
        width: auto;
    }
}
.row1{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 0 10vw;
    .dash{
        background: #4B006E;
        height: 2px;
        width: 15px;
        border: 1px;
        margin-top:-5px ;
        
    }
    h4{
        font-size: 1rem;
        color: #4B006E;
    }
}
.row2{
    padding: 0 10vw;
    color: #4B006E;
    h1{
        font-size: 2rem;
    }
}
.row3{
    padding: 0 11vw;
    color: #6F6C90;
    p{
        padding: 1rem 0;
        margin: 0;
        font-size: .8rem;
    }
}
.col2,.col3{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 1vh 3vw;
    padding-right: 6vw;
    
}
.orderContainer{
    border-radius: 34px;
    width: 100%;
    height: 200vh;
    background: var(--neutral-100, #FFF);
    box-shadow: 0px 98px 66px 0px rgba(19, 18, 66, 0.02), 1px 4px 104px 0px rgba(20, 20, 43, 0.04), 0px 54px 54px 0px rgba(74, 58, 255, 0.02);
    overflow: scroll;
    padding: 5vh 1.5vw;

}
.col2-row1{
    display: flex;
    // width: 100%;
    // align-items: center;
    justify-content: space-between;
}
.inputHead{
    padding: 0;
    margin: 0;
    h3{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        padding-top: 1.5vh;
    }
}
.inputhead-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: row;
    padding-top: 0vh;
}
.btn-yesno{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    p{
        padding: 0;
        margin: 0;
        color: #6F6C90;
        font-size: .8rem;
    }
}
.row-order-btn{
    padding-top: 4vh;
    float: right;

    .order-btn{
        background: #4B006E;
        border-radius: 20px;
        padding: 1vh 2vw;
        color: white;
        font-size: 1.1rem;
        border: 1px solid #4B006E;
    }
    .order-btn:hover{
        color: #4B006E;
        background-color: #FFF;
    }
    
}


