.newadmin{
    background-color: #B199CF;
}
.newadmin-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 2vw;
    margin: 0;
    
}
.sidebarnav{
    flex: 1;
    margin-right: 3vw;
    background: transparent;
}
.main{
    flex: 4;
    
}