.viewOrderDetail{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    padding: 5vh 15vw;

}
.viewOrderDetail-top{
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 50.4863166809082px rgba(0, 0, 0, 0.17);    
    border-radius: 10px;
    .orderText{
        flex: 4;
        h4{
            font-size: 1rem;
            padding: 0;
            margin: 0;

        }
    }
    .orderBtn{
        flex: 1;
        display: flex;
        padding-left: 10vw;
        align-items: center;
        // justify-content: space-around;
        .accept{
            padding: .5vh 1.5vw;
            margin: 0 1vw;
            border: .5px solid #11820F ;
            background: #11820F;
            color: white;
            font-size: .8rem;
            border-radius: 5px;
            &:hover{
                transform: scale(1.2);
            }
        }
        .reject{
            padding: .5vh 1.5vw;
            margin: 0 1vw;
            border: .5px solid #BC0A0A ;
            background: #BC0A0A;
            color: white;
            font-size: .8rem;
            border-radius: 5px;
            &:hover{
                transform: scale(1.2);
            }
        }
    }


}
.viewOrderDetail-mid{
    padding: 2vh 1vw;
    margin-top: 3vh;
    h1{
        padding: 0;
        margin: 0;
        color: #4b006e;

    }
}
.viewOrderDetail-bottom{
    box-shadow: 0px 0px 50.4863166809082px rgba(0, 0, 0, 0.17);    
    border-radius: 10px;
    // margin-top: 5vh;
    padding: 3vh 5vw;
    
}
.OrderDetail-Back{
    border-bottom: .5px solid grey;
    padding: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .status-btn{
        border: none;
        color: white;
        background: #4b006e;
        padding: 1vh 1vw;
        border-radius: 10px;
    }
    p{
        padding: 0;
        margin: 0;
        font-size: 1.2rem ;
        font-weight: 600;

        
    }
}
.row3-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orderDetail-row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0;
    padding-top: 3vh;
    h1{
        font-size: 2.3rem;
        padding: 0;
        margin: 0;

    }
    h3{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
    }
}
.orderDetail-row2{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding: 1vh 0;
    h5{
        font-size: 1rem;
        font-weight: 300;
    }
    h3{
        font-size: 1.3rem;
    }
}
.orderDetail-col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
}
.orderDetail-row3,.orderDetail-row4{
    color: rgb(59, 59, 59);
    padding-bottom: 4vh;
    flex: 1;
}
.row3-head,.row4-head{
    h2{
        font-size: 1.3rem;
        text-decoration: underline;
        font-weight: 400;
        padding-bottom: 2vh;
    }
}
.orderDetail-row3{
    padding-right:4vw ;
    border-right: .5px solid grey;
}
.orderDetail-row4{
    padding-left: 4vw;
}
.row3-services{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    h4{
        font-size: .9rem;
        font-weight: 400;
        padding: 0;
        margin: 0;
    }
}
.ser-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0;
    border-bottom: 1px groove;
    h4{
        padding: 0;
    }
}
.row4-address{
    // padding-top: 1vh;
    h5{
        padding: 0;
        color: rgb(59, 59, 59);
        font-size: 1.1rem;
        font-weight: 550;
    }
}