@import url('https://fonts.googleapis.com/css?family=Kumbh+Sans');
@import url('https://fonts.googleapis.com/css?family=Inria+Sans');
.footerMain {
  background: #36213e;
  padding: 2vh 5vw;

  .logo-footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fffefe;
    h1{
        font-size: 4rem;
    }
  }
  .section-middle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .about {
      width: fit-content;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 2vh;
      .heading {
        color: #fffefe;
        font-size: 1rem;
        // text-decoration: underline;
        padding-bottom: 1vh;
       
      }
      p {
        color: #fffefe7d;
        font-size: .8rem;
        // font-family: "Kumbh Sans";
        font-style: normal;
        // font-weight: 500;
        // line-height: 20px;
        
      }
      p:hover{
        color: #fffefe;
    }
      .icons-btn{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;
        .social-btn{
            // border-radius: 
            cursor: pointer;
        }
        .social-icon {
          color: #ffffff;
          font-size: 2rem;
          z-index: 1;
        }
        #twitter {
          background-color: #33CCFF;
        }
        #instagram{
            background: linear-gradient(315deg, #FBE18A 0.96%, #FCBB45 21.96%, #F75274 38.96%, #D53692 52.96%, #8F39CE 74.96%, #5B4FE9 100.96%);
        }
        #facebook {
            background-color:  #337FFF;
          }
          #whatsapp {
            background-color: #00D95F;
          }
          #linkedin {
            background-color:  #006699;
          }
          #youtube {
            background-color:  #FF3000;
          }
          
      }
      .play-store {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-top: 1rem;
        img {
          width: 100px;
          padding: 0.4rem;
        }
      }
    }
  }
}