@import url('https://fonts.googleapis.com/css?family=Kumbh+Sans');
@import url('https://fonts.googleapis.com/css?family=Inria+Sans');
.footerMain {
  background: #36213e;
  padding: 5vh 10vw;
  .logo-footer {
    display: flex;
    align-items: center;
    text-align: left;
    color: #fffefe;
    h1{
        font-size: 4rem;
    }
  }
  .section-middle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    .about {
      width: max-content;
      padding: 2vh;
      .heading {
        color: #fffefe;
        font-size: 1.5rem;
        text-decoration: underline;
        padding-bottom: 2vh;
        span {
          border: 1px solid #1c9782;
          border: none;
          color: #1c9782;
        }
      }
      p {
        color: #fffefe7d;
        font-size: .9rem;
        font-family: "Kumbh Sans";
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        
      }
      p:hover{
        color: #fffefe;
    }
      .icons {
        display: flex;
        justify-content: space-between;
        div{
            border-radius: 50%;
            background-color: #301c97;
            flex-basis: 16.66%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1vh 1vw;
            margin: 0 5px;
            cursor: pointer;
        }
        .social-icon {
          color: #ffffff;
        }
        .twitter {
          background-color: #33CCFF;
        }
        .instagram{
            background: linear-gradient(315deg, #FBE18A 0.96%, #FCBB45 21.96%, #F75274 38.96%, #D53692 52.96%, #8F39CE 74.96%, #5B4FE9 100.96%);
        }
        .facebook {
            background-color:  #337FFF;
          }
          .whatsapp {
            background-color: #00D95F;
          }
          .linkedin {
            background-color:  #006699;
          }
          .youtube {
            background-color:  #FF3000;
          }
          
      }
      .play-store {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 2rem;
        img {
          width: 127px;
          padding: 0.4rem;
        }
      }
    }
  }
}
