
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.login-box{
    width: 30vw;

}
.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    h1{
        color: #4B006E;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2.75rem;
        margin: 0;
        padding: 0;
    }
    p{
        display: flex;
        font-family: 'Poppins',sans-serif;
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: 400;
    }
    .cmp{
        color:  #B199CF;
        font-weight: bold;
    }
}

.textfield{
    width: 100%;
    display: flex;
    margin: 5vh 0;
}
.icon{
    display: grid;
    place-items: center;
    padding: 0 1.25vw;
    // width: 100%;
    // height: auto;
    background: #4B006E;
    color: white;
    // margin-left: -.5vw;
    z-index: 1;
    font-size: 1.3rem;
    border-radius: 5px;
}
.forget-pass{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0;
    margin: 0;
    #forget-pass{
        color: #4B006E;
    }
}
.btn{
    width: 100%;
    padding: 1vh 1vw; 
    margin: 2vh 0;   
}
.login-btn{
    background: #4B006E;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.login-btn:hover{
    background: #ffffff;
    color: #4B006E;
    border: 1px solid #4B006E;
    transition: background .5s;
}
.signup-btn{
    background: #ffffff;
    color: #4B006E;
    border: 1px solid #4B006E;
    font-size: 1.1rem;
    font-weight: 600;
}
.or{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 2vw;
}
.or-text{
    padding: 0 1rem ;
    color: #C2C2C2;
}
.blank{
    width: 100%;
    height: 2px;
    background-color: #C2C2C2;
}
.signup-btn:hover{
    background: #4B006E;
    color: #ffffff;
    border: 1px solid #4B006E;
    transition: background .5s;
}